.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

#drawer-toggle {
    z-index: 1000;
    left: 45px;
    top: 10px;
    position: absolute;
}

body {
	background-color: #222222;
}

snap-drawer {
	padding: 5px;
}

snap-drawer .row {
	margin-top: 5px;
}